{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Quiz Me</h1>
</br>
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome</h1>
        <p>Welcome to Quiz Me. Here, you can choose the category that you want to quiz yourself on and build your programming skills.</p>
          <a class="btn btn-primary" href="/Play_Game" role="button">Go to Quiz </a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}
