{% extends 'base.html' %}

{% block head %}
<title>Questions</title>
{% endblock %}

{% block body %}
<h1> Questions </h1>
<hr>

{% for question in questions %}
	<br>
	<h2> {{question.question}} </h2>
	<h2> {{question.category_id}} </h2>
	<br>
	<a class="btn btn-danger" href='/Questions/delete_question/{{question.id}}'>Delete</a>
    <a class="btn btn-primary" href='/Questions/edit_question/{{question.id}}'>Edit</a>
    <br>
{% endfor %}

<a class="btn btn-danger" href='/Questions/new_question'>Add New Question</a>

{% endblock %}

